@use './_variable' as *;
@mixin border {
  border: 3px solid black;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
