$blue: #0095ff;
$black: #323232;
$silver: #afafaf;
$white: #ffffff;
$darkblue: #0065ad;
$darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$exSmall: 0.75rem;
$small: 0.875rem;
$regular: 1.5rem;
$big: 2rem;
